Flask==2.3.2
Flask_Cors==3.0.10
ipython==8.13.2
pandas==2.0.1
psycopg2==2.9.6
pyrate_limiter==2.10.0
python-dotenv==1.0.0
Requests==2.30.0
requests_cache==1.0.1
requests_ratelimiter==0.4.0
SQLAlchemy==2.0.12
waitress==2.1.2
Werkzeug==2.3.3
yfinance==0.2.18
